
.home {
    height: 94vh;

  }
  
.row {
    height: 100%;
}

.col-md-9, .col-md-3 {
    height: 100%;
}


.col-md-9 {
    padding: 0;
}

.col-md-3 {
    overflow-y: auto;
    background-color: #F9FAFB;
}
.map-container {
  height: 100%; 
  max-height: 100vh; 
}

.alerts-container {
  height: 100%;
  overflow: auto;
}

.alert-head {
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
}

/* Default styles */
.col-map, .col-alert {
    height: auto;
  }
  
/* Login-page Css */
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    padding: 0 20px; 
  }

 
  .text-container {
    flex: 1;
    padding: 20px;
  }
  
  .text-container h4 {
    text-align: center;
  }


/* Alert Edit Page */
.alert-id {
  display: none;
}

  /* Media query for small devices */
  @media (max-width: 576px) {
    .map-container {
      height: 60vh;
    }
  }
  